@{
    ViewBag.Title = "About";
}
<body style="background-color:dimgrey">
    <h2>@ViewBag.Title.</h2>
    @*<h3>@ViewBag.Message</h3>*@

    <p>Vino alaturi de noi la cele mai tari concerte  ale verii!!!</p>
    </body>