@{
    ViewBag.Title = "Contact";
}
<body style="background-color:dimgrey">
    <h2>@ViewBag.Title.</h2>
    @*<h3>@ViewBag.Message</h3>*@

    <address>
        Va asteptam la concertele noastre in aer liber! Pentru rezervari de bilete sunati la numarul de mai jos!<br />
        <br />
        <abbr title="Phone">P:</abbr>
        0737.537.005
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:concerte@yahoo.com">concerte@yahoo.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:ConcertsMarketing@gmail.com">ConcertsMarketing@gmail.com</a>
    </address>
    </body>